[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
mypy = "*"

[packages]
python-telegram-bot = {version = "*", extras = ["webhooks"]}
google-auth-oauthlib = "*"
numpy = "*"
python-dotenv = "*"
pygsheets = "*"
sentry-sdk = "*"

[requires]
python_version = "3.10"
